<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/index.css"/>
</head>
<body>
    <div class="container">
        <div id="sport"></div>
    </div>
    <script src="output/js/react.bundle.js"></script>
    <script src="output/js/sport.bundle.js"></script>
</body>

</html>
